.container {
    position: absolute;
    top: 10vw;
    left: 22vw;
    width: 76vw;
    height: 75vh;
    -background-color: lightgray;
}


 @media (max-width: 1150px) {
    .container {
        margin-top: 1rem;
        margin-left: 1rem;
        top: 100px;
        -left: 25vw;
        width: 70vw;
    }
 }

 @media (max-width: 800px) {
    .container {
        top: 100px;
        left: 10vw;
        width: 80vw;
        margin-top: 1rem;
        margin: 1rem auto;
    }
 }