.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #fbfcf1;
    margin: 5rem 5rem 0 5rem;
    padding: 2rem 1rem;
    border: 1px solid #D7D7D7;
    border-radius: 7px;
    font-weight: 500;
}

.aboutTitle {
    padding-bottom: 1rem;
}