.novoLocal {
    display: flex;
    justify-content: flex-end;
    align-items: end;
}

.novoLocal > button {
    color: #FFFFFF;
    background-color: #bdbdbd9c;
    border: none;
    border-radius: .5rem;
    font-weight: 900;
    padding: .5rem 1.8rem;
    margin: .5rem .5rem 0 0;
  }

.novoLocal > button:hover {
    background-color: #00FF00;
}