.user {
    display: flex;
    align-self: flex-end;
    align-items: center;
}

.input {
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-radius: 8px;
}

.user p:not(:last-child), .input button:not(:last-child) {
    padding-right: 9px;
}

.input button {
    border: none;
}
  
.user p:last-child, .input button:last-child {
    margin-left: auto;
}

.user > img {
    width: 12%;
    margin-right: 8px;
    height: 100%;
    border-radius: 1rem;
}